.todo-lists {
  width: 45%;
  display: inline-block;
  vertical-align: top;
  height: 80vh;
  overflow: scroll;
  padding: 2%; }

.todo-lists .todo-list-item {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16); }

.todo-lists .todo-list-item:not(:last-child) {
  margin-bottom: 1rem; }

.add-todo-list input, .add-todo-list textarea {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  border-radius: 5px;
  background: #fff;
  box-shadow: none;
  padding: 15px 20px;
  border: 1px solid #bbb; }

.todo-list-detail {
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 35%;
  margin-top: 2rem;
  margin-left: 5%;
  padding: 2rem 4rem;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16); }

.todo-list-detail .task-item .completed {
  text-decoration: line-through; }
